@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.w-custom {
  width: calc(100% - 2rem);
}

.slider-section {
  opacity: 0;
  pointer-events: none;
}

.slider-section-banner {
  opacity: 0;
  pointer-events: none;
}

.slider-section-about {
  opacity: 0;
  pointer-events: none;
}

.show {
  opacity: 1;
  pointer-events: unset;
}

.show-banner {
  opacity: 1;
  pointer-events: unset;
}

.show-about {
  opacity: 1;
  pointer-events: unset;
}

@media (prefers-color-scheme: dark) {
  html {
  }
  body {
  }
}
